assignments/Activity1.txt
assignments/Activity2.txt
assignments/Activity2.1.txt
assignments/ClassActivity_FreeRecall.txt
assignments/Notes.md
code/test.py
code/Activity3.py
code/Activity4.py
code/lcp.py
