body {
    background-color: #2E3440;
    color: #D8DEE9;
}

.title {
    color: #8FBCBB;
    text-align: center;
    font-family: 'Times New Roman';
}

.list1 {
    font-family: Arial;
}

.list2 {
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 100px;
}